@font-face {
    font-family: "Circular-Bold";
    src: url("/fonts/circular-bold.woff2") format("woff2");
  }

@font-face {
    font-family: "Circular-Book";
    src: url("/fonts/circular-bold.woff2") format("woff2");
}

* {
    font-family: 'Circular-Bold', Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
    margin: auto;
    position: relative;
    height: 100%;
}

.info {
    color: white;
    text-align: center;
    font-size: 1em;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

#title {
    font-weight: 800;
    color: #1DB954;
    text-align: center;
    font-size: 8em;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

#title_caption {
    text-align: center;
    color: #1DB954;
    margin-bottom: 1.4em;
}

.container #login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@media screen and (orientation: landscape) {
    #login_button {
        width: 30vw;
        background-color: #1DB954;
        border-radius: 50px;
        font-size: 3vmax;
        font-weight: 600;
        padding: 0.2vmax 1vmax;
        text-align: center;
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4em;
    }
}

@media screen and (orientation: portrait) {
    #login_button {
        width: 50vw;
        background-color: #1DB954;
        border-radius: 50px;
        font-size: 3vmax;
        font-weight: 600;
        padding: 0.2vmax 1vmax;
        text-align: center;
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4em;
    }
}

